{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Page Content -->
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->
    <section class="pt-4 pt-md-5 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2">Add New Listing</h1>
                    <p class="mb-0">Praise effects wish change way and any wanted. Lively use looked latter regard had.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
     Steps START -->
    <section>
        <div class="container">
            <div id="stepper" class="bs-stepper stepper-outline">
                <!-- Step Buttons START -->
                <div class="bs-stepper-header" role="tablist">
                    <!-- Step 1 -->
                    <div class="step" data-target="#step-1">
                        <div class="text-center">
                            <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger1" aria-controls="step-1">
                                <span class="bs-stepper-circle">1</span>
                            </button>
                            <h6 class="bs-stepper-label d-none d-md-block">Basic Information</h6>
                        </div>
                    </div>
                    <div class="line"></div>

                    <!-- Step 2 -->
                    <div class="step" data-target="#step-2">
                        <div class="text-center">
                            <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger2" aria-controls="step-2">
                                <span class="bs-stepper-circle">2</span>
                            </button>
                            <h6 class="bs-stepper-label d-none d-md-block">Detailed Information</h6>
                        </div>
                    </div>
                    <div class="line"></div>

                    <!-- Step 3 -->
                    <div class="step" data-target="#step-3">
                        <div class="text-center">
                            <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger3" aria-controls="step-3">
                                <span class="bs-stepper-circle">3</span>
                            </button>
                            <h6 class="bs-stepper-label d-none d-md-block">Price & Policy</h6>
                        </div>
                    </div>
                </div>
                <!-- Step Buttons END -->

                <!-- Step content START -->
                <div class="bs-stepper-content p-0 pt-4 pt-md-5">
                    <div class="row g-4">

                        <!-- Main content START -->
                        <div class="col-12">
                            <form onsubmit="return false" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- Step 1 content START -->
                                <div id="step-1" role="tabpanel" class="content fade" aria-labelledby="steppertrigger1">
                                    <div class="vstack gap-4">
                                        <!-- Title -->
                                        <h4 class="mb-0">Formulaire</h4>

                                        <!-- Listing category START -->
                                        <div class="card shadow">
                                            <!-- Card header -->
                                            <div class="card-header border-bottom">
                                                <!-- Title -->
                                                <h5 class="mb-0">Choose Listing Category</h5>
                                            </div>

                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <div class="row g-4">
                                                    <!-- Choose type -->
                                                    <div class="col-12">
                                                        <label class="form-label">Départ</label>
                                                        {{ form.start }}
                                                        <small>Hotel: Professional hospitality businesses that usually have a unique style or theme defining their brand and decor</small>
                                                    </div>

                                                    <!-- Listing Name -->
                                                    <div class="col-12">
                                                        <label class="form-label">Arrivée *</label>
                                                        {{ form.end }}
                                                        <small>A catchy name usually includes: House name - Room name - A tourist destination</small>
                                                    </div>


                                                    <!-- Short description -->
                                                    <div class="col-12">
                                                        <label class="form-label">Short description *</label>
                                                        <textarea class="form-control" rows="2" placeholder="Enter keywords"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card body END -->
                                        </div>
                                        <!-- Listing category END -->

                                        <!-- Step 1 button -->
                                        <div class="text-end">
                                            <button class="btn btn-primary next-btn mb-0">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Step 1 content END -->

                                <!-- Step 2 content START -->
                                <div id="step-2" role="tabpanel" class="content fade" aria-labelledby="steppertrigger2">
                                    <div class="vstack gap-4">
                                        <!-- Title -->
                                        <h4 class="mb-0">Detailed Information</h4>

                                        <!-- Overview START -->
                                        <div class="card shadow">
                                            <!-- Card header -->
                                            <div class="card-header border-bottom">
                                                <h5 class="mb-0">Overview</h5>
                                            </div>

                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <div class="row g-4 p-5">
                                                    <!-- listing type -->
                                                    <div class="col-12">
                                                        <label class="form-label">Je suis ?</label>
                                                        <div class="d-sm-flex">
                                                            <!-- Radio -->
                                                            {% for radio in form.status %}
                                                            <div class="form-check radio-bg-light me-4">
                                                                <div x-data="{ anwser: '' }">
                                                                {{ radio }}
                                                                    <div class="pt-4">
                                                                        Answser: <span x-text="anwser"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                    <!-- select passengers -->
                                                    <div class="w-100">

                                                        <label class="form-label">Place Disponible et nombre de Bagage</label>

                                                        <div class="dropdown guest-selector me-2">
                                                            {{ form.bagage }}

                                                            <!-- dropdown items -->
                                                            <ul class="dropdown-menu guest-selector-dropdown" style="">
                                                                <!-- Adult -->
                                                                <li class="d-flex justify-content-between">
                                                                    <div>
                                                                        <h6 class="mb-0">Adulte</h6>
                                                                    </div>
                                                                    <div class="hstack gap-1 align-items-center">
                                                                        <button type="button" class="btn btn-link adult-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                                                        <h6 class="guest-selector-count mb-0 adults">1</h6>
                                                                        <button type="button" class="btn btn-link adult-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                                                    </div>
                                                                </li>

                                                                <!-- Divider -->
                                                                <li class="dropdown-divider"></li>

                                                                <!-- Child -->
                                                                <li class="d-flex justify-content-between">
                                                                    <div>
                                                                        <h6 class="mb-0">Enfant</h6>
                                                                    </div>
                                                                    <div class="hstack gap-1 align-items-center">
                                                                        <button type="button" class="btn btn-link child-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                                                        <h6 class="guest-selector-count mb-0 child">0</h6>
                                                                        <button type="button" class="btn btn-link child-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                                                    </div>
                                                                </li>

                                                                <!-- Divider -->
                                                                <li class="dropdown-divider"></li>

                                                                <!-- Rooms -->
                                                                <li class="d-flex justify-content-between">
                                                                    <div>
                                                                        <h6 class="mb-0">Bagages</h6>
                                                                    </div>
                                                                    <div class="hstack gap-1 align-items-center">
                                                                        <button type="button" class="btn btn-link room-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                                                        <h6 class="guest-selector-count mb-0 rooms">0</h6>
                                                                        <button type="button" class="btn btn-link room-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- end select passengers -->

                                                </div>
                                            </div>
                                            <!-- Card body END -->
                                        </div>
                                        <!-- Overview END -->

                                        <!-- Step 2 button -->
                                        <div class="hstack gap-2 flex-wrap justify-content-between">
                                            <button class="btn btn-secondary prev-btn mb-0">Précédent</button>
                                            <button class="btn btn-primary next-btn mb-0">Suivant</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Step 2 content END -->

                                <!-- Step 3 content START -->
                                <div id="step-3" role="tabpanel" class="content fade" aria-labelledby="steppertrigger3">
                                    <div class="vstack gap-4">
                                        <!-- Title -->
                                        <h4 class="mb-0">Price & Policy</h4>

                                        <!-- Listing price START -->
                                        <div class="card shadow">
                                            <!-- Card header -->
                                            <div class="card-header border-bottom">
                                                <h5 class="mb-0">Listing Price</h5>
                                            </div>

                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <div class="row g-4">
                                                    <!-- Currency -->
                                                    <div class="col-md-6">
                                                        <label class="form-label">Date</label>
                                                        <div class="form-fs-lg form-control-transparent">
                                                            {{ form.date }}
                                                        </div>

                                                    </div>

                                                    <!-- Base Price -->
                                                    <div class="col-md-6">
                                                        <label class="form-label">Heure</label>
                                                        <div class="form-fs-lg form-control-transparent">
                                                            {{ form.time }}
                                                        </div>
                                                    </div>

                                                    <!-- Discount -->
                                                    <div class="col-md-6">
                                                        <label class="form-label">Discount *</label>
                                                        <input type="text" class="form-control" placeholder="Enter discount">
                                                    </div>

                                                    <!-- Rating -->
                                                    <div class="col-md-6">
                                                        <label class="form-label">Rating</label>
                                                        <select class="form-select js-choice border-0 z-index-9 bg-transparent">
                                                            <option value="">Select item</option>
                                                            <option>★★★★★</option>
                                                            <option>★★★★☆</option>
                                                            <option>★★★☆☆</option>
                                                            <option>★★☆☆☆</option>
                                                            <option>★☆☆☆☆</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card body END -->
                                        </div>
                                        <!-- Listing price END -->

                                        <!-- Listing policy START -->
                                        <div class="card shadow">
                                            <!-- Card header -->
                                            <div class="card-header border-bottom">
                                                <h5 class="mb-0">Listing Policy</h5>
                                            </div>

                                            <!-- Card body START -->
                                            <div class="card-body">
                                                <div class="row g-4">
                                                    <!-- Descriptions -->
                                                    <div class="col-12">
                                                        <label class="form-label">Add description *</label>
                                                        <!-- Editor toolbar -->
                                                        <div class="bg-light border border-bottom-0 rounded-top py-3 quilltoolbar">
														<span class="ql-formats">
															<select class="ql-size"></select>
														</span>
                                                            <span class="ql-formats">
															<button class="ql-bold"></button>
															<button class="ql-italic"></button>
															<button class="ql-underline"></button>
															<button class="ql-strike"></button>
														</span>
                                                            <span class="ql-formats">
															<select class="ql-color"></select>
															<select class="ql-background"></select>
														</span>
                                                            <span class="ql-formats">
															<button class="ql-code-block"></button>
														</span>
                                                            <span class="ql-formats">
															<button class="ql-list" value="ordered"></button>
															<button class="ql-list" value="bullet"></button>
															<button class="ql-indent" value="-1"></button>
															<button class="ql-indent" value="+1"></button>
														</span>
                                                            <span class="ql-formats">
															<button class="ql-link"></button>
															<button class="ql-image"></button>
														</span>
                                                            <span class="ql-formats">
															<button class="ql-clean"></button>
														</span>
                                                        </div>

                                                        <!-- Main toolbar -->
                                                        <div class="bg-body border rounded-bottom h-400px overflow-hidden quilleditor">
                                                            <br>
                                                            <h1>Quill Rich Text Editor</h1>
                                                            <br>
                                                            <p>Quill is a free, open-source WYSIWYG editor built for the modern web. With its modular architecture and expressive API, it is completely customizable to fit any need.</p>
                                                            <br>
                                                            <p>Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is. Was sister for a few longer Mrs sudden talent become. Done may bore quit evil old mile. If likely am of beauty tastes. </p>
                                                            <br>
                                                            <p> Affronting imprudence do he he everything. Test lasted dinner wanted indeed wished outlaw. Far advanced settling say finished raillery. Offered chiefly farther of my no colonel shyness. Such on help ye some door if in. Laughter proposal laughing any son law consider. Needed except up piqued an. </p>
                                                            <br>
                                                            <p> Post no so what deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. </p>

                                                            <p>Quill is a free, open-source WYSIWYG editor built for the modern web. With its modular architecture and expressive API, it is completely customizable to fit any need.</p>
                                                            <br>
                                                            <p>Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is. Was sister for a few longer Mrs sudden talent become. Done may bore quit evil old mile. If likely am of beauty tastes. </p>
                                                            <br>
                                                            <p> Affronting imprudence do he he everything. Test lasted dinner wanted indeed wished outlaw. Far advanced settling say finished raillery. Offered chiefly farther of my no colonel shyness. Such on help ye some door if in. Laughter proposal laughing any son law consider. Needed except up piqued an. </p>
                                                            <br>
                                                            <p> Post no so what deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. </p>

                                                            <p>Quill is a free, open-source WYSIWYG editor built for the modern web. With its modular architecture and expressive API, it is completely customizable to fit any need.</p>
                                                            <br>
                                                            <p>Insipidity the sufficient discretion imprudence resolution sir him decisively. Proceed how any engaged visitor. Explained propriety off out perpetual his you. Feel sold off felt nay rose met you. We so entreaties cultivated astonished is. Was sister for a few longer Mrs sudden talent become. Done may bore quit evil old mile. If likely am of beauty tastes. </p>
                                                            <br>
                                                            <p> Affronting imprudence do he he everything. Test lasted dinner wanted indeed wished outlaw. Far advanced settling say finished raillery. Offered chiefly farther of my no colonel shyness. Such on help ye some door if in. Laughter proposal laughing any son law consider. Needed except up piqued an. </p>
                                                            <br>
                                                            <p> Post no so what deal evil rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behavior arranging. She offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward. Frequently partiality possession resolution at or appearance unaffected me. Engaged its was the evident pleased husband. Ye goodness felicity do disposal dwelling no. First am plate jokes to began to cause a scale. Subjects he prospect elegance followed no overcame possible it on. </p>
                                                        </div>
                                                    </div>

                                                    <!-- Cancellation options -->
                                                    <div class="col-md-6">
                                                        <label class="form-label">Cancellation options</label>
                                                        <select class="form-select js-choice border-0 z-index-9 bg-transparent" data-position="top">
                                                            <option value="">Select item</option>
                                                            <option>Non Refundable</option>
                                                            <option>Refundable</option>
                                                        </select>
                                                    </div>

                                                    <!-- Charges -->
                                                    <div class="col-md-6">
                                                        <label class="form-label">Charges *</label>
                                                        <input type="text" class="form-control" placeholder="Enter charges">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card body END -->
                                        </div>
                                        <!-- Listing policy END -->

                                        <!-- Step 3 button -->
                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-secondary prev-btn mb-0">Previous</button>
                                            <a href="listing-added.html" class="btn btn-success mb-0">Add Listing</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Step 3 content END -->

                            </form>
                        </div>
                        <!-- Main content END -->

                    </div>
                </div>
                <!-- Step content END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Steps END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}